GENERATED DL_POLY CONTROL
ENSEMBLE NVE
TIMESTEP 1.0000E-03
TEMPERATURE 75.0
STEPS 300
EQUILIBRATION 0
PRINT 201
STATS 201
RVDW 4.0
# VDW SHIFT
# NO VDW
CUTOFF 14.0
RESTART NOSCALE
NO VOM
MXQUAT 0
MXSHAK 0
JOB TIME 4.0000E+04
CLOSE TIME 1.0000E+02
EWALD PRECISION 1e-06
# NO ELECTROSTATICS
FINISH
